<figure>
  <a href="<%= url %>">
    <picture>
      <source data-srcset="<%= src %>">
      <img data-src="<%= src %>"<% if (alt) { %> alt="<%= alt %>"<% } %><% if (width) { %> width="<%= width %>"<% } %><% if (height) { %> height="<%= height %>"<% }%> class="lozad">
    </picture>

    <noscript>
      <picture>
        <source srcset="<%= src %>">
        <img src="<%= src %>"<% if (alt) { %> alt="<%= alt %>"<% } %><% if (width) { %> width="<%= width %>"<% } %><% if (height) { %> height="<%= height %>"<% }%>>
      </picture>
    </noscript>

    <figcaption>
      <%= figcaption %>
    </figcaption>
  </a>
</figure>
