<figure>
  <a href="<%= url %>">
    <picture>
      <source data-srcset="<%= src %>">
      <img data-src="<%= src %>"<% if (alt) { %> alt="<%= alt %>"<% } %><% if (width) { %> width="<%= width %>"<% } %><% if (height) { %> height="<%= height %>"<% }%> class="js-lazyload">
    </picture>
    <figcaption>
      <%= figcaption %>
    </figcaption>
  </a>
</figure>
