<ul class="projects">
  <% projects.slice(skip, skip + limit).map(project => { %>
    <li>
      <article class="project" itemscope="" itemtype="http://schema.org/CreativeWork">

        <figure class="embed embed--4-3">
          <a href="projects/<%= project.url %>" itemprop="url">
            <picture>
              <source data-srcset="content/images/projects/<%= project.thumbnail %>.webp" type="image/webp">
              <img data-src="content/images/projects/<%= project.thumbnail %>.png" alt="<%= project.title %>" width="800" height="600" class="lozad" itemprop="image">
            </picture>

            <noscript>
              <picture>
                <source srcset="content/images/projects/<%= project.thumbnail %>.webp" type="image/webp">
                <img src="content/images/projects/<%= project.thumbnail %>.png" alt="<%= project.title %>" width="800" height="600" itemprop="image">
              </picture>
            </noscript>

            <figcaption>
              <div class="project__caption">
                <h3 class="project__title" itemprop="name"><%= project.title %></h3>
              </div>
            </figcaption>
          </a>
        </figure>

      </article>
    </li>
  <% }) %>
</ul>
